**Stock ATRP**
Creating code that can automate the process of calculating the Average True Range Percentage (ATRP) of an equity.

The Plan:
- Import stock data into a DataFrame
- Create the following columns
    - Date (Index)
    - Open
    - High
    - Low
    - Close
    - Previous Days Close (Close.shift-1)
    - Daily Range (high - low)
    - True Range Percentage 
        Maximum move out of:
        - High - Previous Days Close
        - Previous Days Close - Low
        - High - Low Range
        Divided by:
        - Open

In [131]:
#import libraries I need
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

#import stock data
aapl = pd.read_csv('./data/AAPL.csv')
#display the first 5 rows of the dataframe to check loaded
aapl.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-10-31,153.160004,154.240005,151.919998,153.339996,152.435699,97943200
1,2022-11-01,155.080002,155.449997,149.130005,150.649994,149.761551,80379300
2,2022-11-02,148.949997,152.169998,145.000000,145.029999,144.174698,93604600
3,2022-11-03,142.059998,142.800003,138.750000,138.880005,138.060959,97918500
4,2022-11-04,142.089996,142.669998,134.380005,138.380005,137.792114,140814800

In [132]:
#remove Adj. close and Volume columns
aapl = aapl.drop(['Adj Close', 'Volume'], axis=1)

aapl.head()

         Date        Open        High         Low       Close
0  2022-10-31  153.160004  154.240005  151.919998  153.339996
1  2022-11-01  155.080002  155.449997  149.130005  150.649994
2  2022-11-02  148.949997  152.169998  145.000000  145.029999
3  2022-11-03  142.059998  142.800003  138.750000  138.880005
4  2022-11-04  142.089996  142.669998  134.380005  138.380005

In [133]:
#create a new column for previous days close
aapl['Prev Close'] = aapl['Close'].shift(1)
#drop the first row of data as it will be NaN
aapl = aapl.dropna()

aapl.head()

         Date        Open        High         Low       Close  Prev Close
1  2022-11-01  155.080002  155.449997  149.130005  150.649994  153.339996
2  2022-11-02  148.949997  152.169998  145.000000  145.029999  150.649994
3  2022-11-03  142.059998  142.800003  138.750000  138.880005  145.029999
4  2022-11-04  142.089996  142.669998  134.380005  138.380005  138.880005
5  2022-11-07  137.110001  139.149994  135.669998  138.919998  138.380005

In [134]:
#create a new column for the daily range
aapl['Range'] = aapl['High'] - aapl['Low']

aapl.head()

,Date,Open,High,Low,Close,Prev Close,Range
1,2022-11-01,155.080002,155.449997,149.130005,150.649994,153.339996,6.319992
2,2022-11-02,148.949997,152.169998,145.000000,145.029999,150.649994,7.169998
3,2022-11-03,142.059998,142.800003,138.750000,138.880005,145.029999,4.050003
4,2022-11-04,142.089996,142.669998,134.380005,138.380005,138.880005,8.289993
5,2022-11-07,137.110001,139.149994,135.669998,138.919998,138.380005,3.479996

In [135]:
#create a new column for the ATRP and display output as a percentage
#Calculate distance from previous days close to current days high
aapl['high - prev close'] = abs(aapl['High'] - aapl['Prev Close'])
#Calculate distance from previous days close to current days low
aapl['prev close - low'] = abs(aapl['Prev Close'] - aapl['Low'])

aapl['true range'] = aapl[['high - prev close', 'prev close - low', 'Range']].max(axis=1)

aapl['ATRP'] = aapl['true range'] / aapl['Open'] * 100


aapl.head()

,Date,Open,High,Low,Close,Prev Close,Range,high - prev close,prev close - low,true range,ATRP
1,2022-11-01,155.080002,155.449997,149.130005,150.649994,153.339996,6.319992,2.110001,4.209991,6.319992,4.075311
2,2022-11-02,148.949997,152.169998,145.000000,145.029999,150.649994,7.169998,1.520004,5.649994,7.169998,4.813695
3,2022-11-03,142.059998,142.800003,138.750000,138.880005,145.029999,4.050003,2.229996,6.279999,6.279999,4.420667
4,2022-11-04,142.089996,142.669998,134.380005,138.380005,138.880005,8.289993,3.789993,4.500000,8.289993,5.834326
5,2022-11-07,137.110001,139.149994,135.669998,138.919998,138.380005,3.479996,0.769989,2.710007,3.479996,2.538105

Now we have calculated the ATRP on a daily basis we can calculate what the daily ATRP is on average over a weekly, monthly, quarterly timeframe.

In [136]:
#create new weekly rolling average for daily ATRP
aapl['ATRP Weekly Rolling Avg'] = aapl['ATRP'].rolling(5).mean()
#create new monthly rolling average for daily ATRP
aapl['ATRP Monthly Rolling Avg'] = aapl['ATRP'].rolling(20).mean()
#create new quarterly rolling average for daily ATRP
aapl['ATRP Quarterly Rolling Avg'] = aapl['ATRP'].rolling(60).mean()
#create new yearly rolling average for daily ATRP
aapl['ATRP Yearly Rolling Avg'] = aapl['ATRP'].rolling(252).mean()


aapl.tail(50)

,Date,Open,High,Low,Close,Prev Close,Range,high - prev close,prev close - low,true range,ATRP,ATRP Weekly Rolling Avg,ATRP Monthly Rolling Avg,ATRP Quarterly Rolling Avg,ATRP Yearly Rolling Avg
202,2023-08-22,177.059998,177.679993,176.250000,177.229996,175.839996,1.429993,1.839997,0.410004,1.839997,1.039194,1.530699,1.734900,1.622144,NaN
203,2023-08-23,178.520004,181.550003,178.330002,181.119995,177.229996,3.220001,4.320007,1.100006,4.320007,2.419901,1.784340,1.796000,1.635743,NaN
204,2023-08-24,180.669998,181.100006,176.009995,176.380005,181.119995,5.090011,0.019989,5.110000,5.110000,2.828361,1.895005,1.818808,1.649353,NaN
205,2023-08-25,177.380005,179.149994,175.820007,178.610001,176.380005,3.329987,2.769989,0.559998,3.329987,1.877318,1.905988,1.825089,1.656299,NaN
206,2023-08-28,180.089996,180.589996,178.550003,180.190002,178.610001,2.039993,1.979995,0.059998,2.039993,1.132763,1.859507,1.850359,1.645259,NaN
207,2023-08-29,179.699997,184.899994,179.500000,184.119995,180.190002,5.399994,4.709992,0.690002,5.399994,3.005005,2.252670,1.963665,1.672142,NaN
208,2023-08-30,184.940002,187.850006,184.740005,187.649994,184.119995,3.110001,3.730011,0.620010,3.730011,2.016876,2.172065,1.968118,1.642696,NaN
209,2023-08-31,187.839996,189.119995,187.479996,187.869995,187.649994,1.639999,1.470001,0.169998,1.639999,0.873083,1.781009,1.962443,1.632336,NaN
210,2023-09-01,189.490005,189.919998,188.279999,189.460007,187.869995,1.639999,2.050003,0.410004,2.050003,1.081853,1.621916,1.767237,1.614034,NaN
211,2023-09-05,188.279999,189.979996,187.610001,189.699997,189.460007,2.369995,0.519989,1.850006,2.369995,1.258761,1.647116,1.671497,1.603347,NaN
212,2023-09-06,188.399994,188.850006,181.470001,182.910004,189.699997,7.380005,0.849991,8.229996,8.229996,4.368363,1.919787,1.815064,1.660910,NaN
213,2023-09-07,175.179993,178.210007,173.539993,177.559998,182.910004,4.670014,4.699997,9.370011,9.370011,5.348791,2.586170,1.974138,1.723117,NaN
214,2023-09-08,178.350006,180.240005,177.789993,178.179993,177.559998,2.450012,2.680007,0.229995,2.680007,1.502667,2.712087,1.961518,1.732571,NaN
215,2023-09-11,180.070007,180.300003,177.339996,179.360001,178.179993,2.960007,2.120010,0.839997,2.960007,1.643809,2.824478,1.985340,1.738427,NaN
216,2023-09-12,179.490005,180.130005,174.820007,176.300003,179.360001,5.309998,0.770004,4.539994,5.309998,2.958381,3.164402,2.066394,1.762909,NaN
217,2023-09-13,176.509995,177.300003,173.979996,174.210007,176.300003,3.320007,1.000000,2.320007,3.320007,1.880917,2.666913,2.092517,1.769980,NaN
218,2023-09-14,174.000000,176.100006,173.580002,175.740005,174.210007,2.520004,1.889999,0.630005,2.520004,1.448278,1.886811,2.107346,1.778844,NaN
219,2023-09-15,176.479996,176.500000,173.820007,175.009995,175.740005,2.679993,0.759995,1.919998,2.679993,1.518582,1.889993,2.069524,1.778734,NaN
220,2023-09-18,176.479996,179.380005,176.169998,177.970001,175.009995,3.210007,4.370010,1.160003,4.370010,2.476207,2.056473,2.102214,1.789345,NaN
221,2023-09-19,177.520004,179.630005,177.130005,179.070007,177.970001,2.500000,1.660004,0.839996,2.500000,1.408292,1.746455,2.104370,1.789912,NaN
222,2023-09-20,179.259995,179.699997,175.399994,175.490005,179.070007,4.300003,0.629990,3.670013,4.300003,2.398752,1.850022,2.172348,1.804734,NaN
223,2023-09-21,174.550003,176.300003,173.860001,173.929993,175.490005,2.440002,0.809998,1.630004,2.440002,1.397881,1.839943,2.121247,1.800059,NaN
224,2023-09-22,174.669998,177.080002,174.050003,174.789993,173.929993,3.029999,3.150009,0.120010,3.150009,1.803406,1.896908,2.069999,1.809718,NaN
225,2023-09-25,174.199997,176.970001,174.149994,176.080002,174.789993,2.820007,2.180008,0.639999,2.820007,1.618833,1.725433,2.057075,1.826738,NaN
226,2023-09-26,174.820007,175.199997,171.660004,171.960007,176.080002,3.539993,0.880005,4.419998,4.419998,2.528314,1.949437,2.126853,1.826347,NaN
227,2023-09-27,172.619995,173.039993,169.050003,170.429993,171.960007,3.989990,1.079986,2.910004,3.989990,2.311430,1.931973,2.092174,1.845863,NaN
228,2023-09-28,169.339996,172.029999,167.619995,170.690002,170.429993,4.410004,1.600006,2.809998,4.410004,2.604231,2.173243,2.121542,1.868735,NaN
229,2023-09-29,172.020004,173.070007,170.339996,171.210007,170.690002,2.730011,2.380005,0.350006,2.730011,1.587031,2.129968,2.157239,1.870427,NaN
230,2023-10-02,171.220001,174.300003,170.929993,173.750000,171.210007,3.370010,3.089996,0.280014,3.370010,1.968234,2.199848,2.201558,1.882073,NaN
231,2023-10-03,172.259995,173.630005,170.820007,172.399994,173.750000,2.809998,0.119995,2.929993,2.929993,1.700913,2.034368,2.223666,1.878366,NaN
232,2023-10-04,171.089996,174.210007,170.970001,173.660004,172.399994,3.240006,1.810013,1.429993,3.240006,1.893744,1.950830,2.099935,1.886139,NaN
233,2023-10-05,173.789993,175.449997,172.679993,174.910004,173.660004,2.770004,1.789993,0.980011,2.770004,1.593880,1.748760,1.912189,1.880896,NaN
234,2023-10-06,173.800003,177.990005,173.179993,177.490005,174.910004,4.810012,3.080001,1.730011,4.810012,2.767556,1.984865,1.975434,1.914599,NaN
235,2023-10-09,176.809998,179.050003,175.800003,178.990005,177.490005,3.250000,1.559998,1.690002,3.250000,1.838131,1.958845,1.985150,1.931654,NaN
236,2023-10-10,178.100006,179.720001,177.949997,178.389999,178.990005,1.770004,0.729996,1.040008,1.770004,0.993826,1.817427,1.886922,1.916691,NaN
237,2023-10-11,178.199997,179.850006,177.600006,179.800003,178.389999,2.250000,1.460007,0.789993,2.250000,1.262626,1.691204,1.856007,1.921271,NaN
238,2023-10-12,180.070007,182.339996,179.039993,180.710007,179.800003,3.300003,2.539993,0.760010,3.300003,1.832622,1.738952,1.875225,1.903653,NaN
239,2023-10-13,181.419998,181.929993,178.139999,178.850006,180.710007,3.789994,1.219986,2.570008,3.789994,2.089072,1.603256,1.903749,1.904555,NaN
240,2023-10-16,176.750000,179.080002,176.509995,178.720001,178.850006,2.570007,0.229996,2.340011,2.570007,1.454035,1.526436,1.852640,1.896675,NaN
241,2023-10-17,176.649994,178.419998,174.800003,177.149994,178.720001,3.619995,0.300003,3.919998,3.919998,2.219076,1.771486,1.893180,1.908066,NaN
242,2023-10-18,175.580002,177.580002,175.110001,175.839996,177.149994,2.470001,0.430008,2.039993,2.470001,1.406767,1.800314,1.843580,1.916943,NaN
243,2023-10-19,176.039993,177.839996,175.190002,175.460007,175.839996,2.649994,2.000000,0.649994,2.649994,1.505336,1.734857,1.848953,1.922067,NaN
244,2023-10-20,175.309998,175.419998,172.639999,172.880005,175.460007,2.779999,0.040009,2.820008,2.820008,1.608584,1.638760,1.839212,1.909340,NaN
245,2023-10-23,170.910004,174.009995,169.929993,173.000000,172.880005,4.080002,1.129990,2.950012,4.080002,2.387222,1.825397,1.877631,1.919932,NaN
246,2023-10-24,173.050003,173.669998,171.449997,173.440002,173.000000,2.220001,0.669998,1.550003,2.220001,1.282867,1.638155,1.815359,1.930857,NaN
247,2023-10-25,171.880005,173.059998,170.649994,171.100006,173.440002,2.410004,0.380004,2.790008,2.790008,1.623230,1.681448,1.780949,1.945596,NaN
248,2023-10-26,170.369995,171.380005,165.669998,166.889999,171.100006,5.710007,0.279999,5.430008,5.710007,3.351533,2.050687,1.818314,1.969325,NaN
249,2023-10-27,166.910004,168.960007,166.830002,168.220001,166.889999,2.130005,2.070008,0.059997,2.130005,1.276140,1.984198,1.802770,1.974151,NaN
250,2023-10-30,169.020004,171.169998,168.869995,170.289993,168.220001,2.300003,2.949997,0.649994,2.949997,1.745354,1.855825,1.791626,1.920140,NaN
251,2023-10-31,169.350006,170.750000,167.899994,170.364502,170.289993,2.850006,0.460007,2.389999,2.850006,1.682909,1.935833,1.790725,1.895296,NaN