**Stock ATRP**
Creating code that can automate the process of calculating the Average True Range Percentage (ATRP) of an equity.

The Plan:
- Import stock data into a DataFrame
- Create the following columns
    - Date (Index)
    - Open
    - High
    - Low
    - Close
    - Previous Days Close (Close.shift-1)
    - Daily Range (high - low)
    - True Range Percentage 
        Maximum move out of:
        - High - Previous Days Close
        - Previous Days Close - Low
        - High - Low Range
        Divided by:
        - Open

In [125]:
#import libraries I need
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

#import stock data
aapl = pd.read_csv('./data/AAPL.csv')
#display the first 5 rows of the dataframe to check loaded
aapl.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-10-31,153.160004,154.240005,151.919998,153.339996,152.435699,97943200
1,2022-11-01,155.080002,155.449997,149.130005,150.649994,149.761551,80379300
2,2022-11-02,148.949997,152.169998,145.000000,145.029999,144.174698,93604600
3,2022-11-03,142.059998,142.800003,138.750000,138.880005,138.060959,97918500
4,2022-11-04,142.089996,142.669998,134.380005,138.380005,137.792114,140814800

In [126]:
#remove Adj. close and Volume columns
aapl = aapl.drop(['Adj Close', 'Volume'], axis=1)

aapl.head()

         Date        Open        High         Low       Close
0  2022-10-31  153.160004  154.240005  151.919998  153.339996
1  2022-11-01  155.080002  155.449997  149.130005  150.649994
2  2022-11-02  148.949997  152.169998  145.000000  145.029999
3  2022-11-03  142.059998  142.800003  138.750000  138.880005
4  2022-11-04  142.089996  142.669998  134.380005  138.380005

In [127]:
#create a new column for previous days close
aapl['Prev Close'] = aapl['Close'].shift(1)
#drop the first row of data as it will be NaN
aapl = aapl.dropna()

aapl.head()

         Date        Open        High         Low       Close  Prev Close
1  2022-11-01  155.080002  155.449997  149.130005  150.649994  153.339996
2  2022-11-02  148.949997  152.169998  145.000000  145.029999  150.649994
3  2022-11-03  142.059998  142.800003  138.750000  138.880005  145.029999
4  2022-11-04  142.089996  142.669998  134.380005  138.380005  138.880005
5  2022-11-07  137.110001  139.149994  135.669998  138.919998  138.380005

In [128]:
#create a new column for the daily range
aapl['Range'] = aapl['High'] - aapl['Low']

aapl.head()

,Date,Open,High,Low,Close,Prev Close,Range
1,2022-11-01,155.080002,155.449997,149.130005,150.649994,153.339996,6.319992
2,2022-11-02,148.949997,152.169998,145.000000,145.029999,150.649994,7.169998
3,2022-11-03,142.059998,142.800003,138.750000,138.880005,145.029999,4.050003
4,2022-11-04,142.089996,142.669998,134.380005,138.380005,138.880005,8.289993
5,2022-11-07,137.110001,139.149994,135.669998,138.919998,138.380005,3.479996

In [129]:
#create a new column for the ATRP and display output as a percentage
#Calculate distance from previous days close to current days high
aapl['high - prev close'] = abs(aapl['High'] - aapl['Prev Close'])
#Calculate distance from previous days close to current days low
aapl['prev close - low'] = abs(aapl['Prev Close'] - aapl['Low'])

aapl['true range'] = aapl[['high - prev close', 'prev close - low', 'Range']].max(axis=1)

aapl['ATRP'] = aapl['true range'] / aapl['Open'] * 100


aapl.head()

,Date,Open,High,Low,Close,Prev Close,Range,high - prev close,prev close - low,true range,ATRP
1,2022-11-01,155.080002,155.449997,149.130005,150.649994,153.339996,6.319992,2.110001,4.209991,6.319992,4.075311
2,2022-11-02,148.949997,152.169998,145.000000,145.029999,150.649994,7.169998,1.520004,5.649994,7.169998,4.813695
3,2022-11-03,142.059998,142.800003,138.750000,138.880005,145.029999,4.050003,2.229996,6.279999,6.279999,4.420667
4,2022-11-04,142.089996,142.669998,134.380005,138.380005,138.880005,8.289993,3.789993,4.500000,8.289993,5.834326
5,2022-11-07,137.110001,139.149994,135.669998,138.919998,138.380005,3.479996,0.769989,2.710007,3.479996,2.538105

Now we have calculated the ATRP on a daily basis we can calculate what the daily ATRP is on average over a weekly, monthly, quarterly timeframe.

In [130]:
#create new weekly rolling average for daily ATRP
aapl['ATRP Weekly Rolling Avg'] = aapl['ATRP'].rolling(5).mean()
#create new monthly rolling average for daily ATRP
aapl['ATRP Monthly Rolling Avg'] = aapl['ATRP'].rolling(20).mean()
#create new quarterly rolling average for daily ATRP
aapl['ATRP Quarterly Rolling Avg'] = aapl['ATRP'].rolling(60).mean()
#create new yearly rolling average for daily ATRP
aapl['ATRP Yearly Rolling Avg'] = aapl['ATRP'].rolling(252).mean()


aapl.head(50)

,Date,Open,High,Low,Close,Prev Close,Range,high - prev close,prev close - low,true range,ATRP,ATRP Weekly Rolling Avg,ATRP Monthly Rolling Avg,ATRP Quarterly Rolling Avg,ATRP Yearly Rolling Avg
1,2022-11-01,155.080002,155.449997,149.130005,150.649994,153.339996,6.319992,2.110001,4.209991,6.319992,4.075311,NaN,NaN,NaN,NaN
2,2022-11-02,148.949997,152.169998,145.000000,145.029999,150.649994,7.169998,1.520004,5.649994,7.169998,4.813695,NaN,NaN,NaN,NaN
3,2022-11-03,142.059998,142.800003,138.750000,138.880005,145.029999,4.050003,2.229996,6.279999,6.279999,4.420667,NaN,NaN,NaN,NaN
4,2022-11-04,142.089996,142.669998,134.380005,138.380005,138.880005,8.289993,3.789993,4.500000,8.289993,5.834326,NaN,NaN,NaN,NaN
5,2022-11-07,137.110001,139.149994,135.669998,138.919998,138.380005,3.479996,0.769989,2.710007,3.479996,2.538105,4.336421,NaN,NaN,NaN
6,2022-11-08,140.410004,141.429993,137.490005,139.500000,138.919998,3.939988,2.509995,1.429993,3.939988,2.806059,4.082570,NaN,NaN,NaN
7,2022-11-09,138.500000,138.550003,134.589996,134.869995,139.500000,3.960007,0.949997,4.910004,4.910004,3.545129,3.828857,NaN,NaN,NaN
8,2022-11-10,141.240005,146.869995,139.500000,146.869995,134.869995,7.369995,12.000000,4.630005,12.000000,8.496176,4.643959,NaN,NaN,NaN
9,2022-11-11,145.820007,150.009995,144.369995,149.699997,146.869995,5.640000,3.140000,2.500000,5.640000,3.867782,4.250650,NaN,NaN,NaN
10,2022-11-14,148.970001,150.279999,147.429993,148.279999,149.699997,2.850006,0.580002,2.270004,2.850006,1.913141,4.125658,NaN,NaN,NaN
11,2022-11-15,152.220001,153.589996,148.559998,150.039993,148.279999,5.029998,5.309997,0.279999,5.309997,3.488370,4.262120,NaN,NaN,NaN
12,2022-11-16,149.130005,149.869995,147.289993,148.789993,150.039993,2.580002,0.169998,2.750000,2.750000,1.844029,3.921900,NaN,NaN,NaN
13,2022-11-17,146.429993,151.479996,146.149994,150.720001,148.789993,5.330002,2.690003,2.639999,5.330002,3.639966,2.950658,NaN,NaN,NaN
14,2022-11-18,152.309998,152.699997,149.970001,151.289993,150.720001,2.729996,1.979996,0.750000,2.729996,1.792394,2.535580,NaN,NaN,NaN
15,2022-11-21,150.160004,150.369995,147.720001,148.009995,151.289993,2.649994,0.919998,3.569992,3.569992,2.377459,2.628444,NaN,NaN,NaN
16,2022-11-22,148.130005,150.419998,146.929993,150.179993,148.009995,3.490005,2.410003,1.080002,3.490005,2.356042,2.401978,NaN,NaN,NaN
17,2022-11-23,149.449997,151.830002,149.339996,151.070007,150.179993,2.490006,1.650009,0.839997,2.490006,1.666113,2.366395,NaN,NaN,NaN
18,2022-11-25,148.309998,148.880005,147.119995,148.110001,151.070007,1.760010,2.190002,3.950012,3.950012,2.663348,2.171071,NaN,NaN,NaN
19,2022-11-28,145.139999,146.639999,143.380005,144.220001,148.110001,3.259994,1.470002,4.729996,4.729996,3.258920,2.464376,NaN,NaN,NaN
20,2022-11-29,144.289993,144.809998,140.350006,141.169998,144.220001,4.459992,0.589997,3.869995,4.459992,3.090992,2.607083,3.424401,NaN,NaN
21,2022-11-30,141.399994,148.720001,140.550003,148.029999,141.169998,8.169998,7.550003,0.619995,8.169998,5.777934,3.291461,3.509532,NaN,NaN
22,2022-12-01,148.210007,149.130005,146.610001,148.309998,148.029999,2.520004,1.100006,1.419998,2.520004,1.700293,3.298297,3.353862,NaN,NaN
23,2022-12-02,145.960007,148.000000,145.649994,147.809998,148.309998,2.350006,0.309998,2.660004,2.660004,1.822420,3.130112,3.223950,NaN,NaN
24,2022-12-05,147.770004,150.919998,145.770004,146.630005,147.809998,5.149994,3.110000,2.039994,5.149994,3.485142,3.175356,3.106491,NaN,NaN
25,2022-12-06,147.070007,147.300003,141.919998,142.910004,146.630005,5.380005,0.669998,4.710007,5.380005,3.658125,3.288783,3.162492,NaN,NaN
26,2022-12-07,142.190002,143.369995,140.000000,140.940002,142.910004,3.369995,0.459991,2.910004,3.369995,2.370065,2.607209,3.140692,NaN,NaN
27,2022-12-08,142.360001,143.520004,141.100006,142.649994,140.940002,2.419998,2.580002,0.160004,2.580002,1.812308,2.629612,3.054051,NaN,NaN
28,2022-12-09,142.339996,145.570007,140.899994,142.160004,142.649994,4.670013,2.920013,1.750000,4.670013,3.280886,2.921305,2.793286,NaN,NaN
29,2022-12-12,142.699997,144.500000,141.059998,144.490005,142.160004,3.440002,2.339996,1.100006,3.440002,2.410653,2.706407,2.720430,NaN,NaN
30,2022-12-13,149.500000,149.970001,144.240005,145.470001,144.490005,5.729996,5.479996,0.250000,5.729996,3.832773,2.741337,2.816412,NaN,NaN
31,2022-12-14,145.350006,146.660004,141.160004,143.210007,145.470001,5.500000,1.190003,4.309997,5.500000,3.783970,3.024118,2.831192,NaN,NaN
32,2022-12-15,141.110001,141.800003,136.029999,136.500000,143.210007,5.770004,1.410004,7.180008,7.180008,5.088235,3.679303,2.993402,NaN,NaN
33,2022-12-16,136.690002,137.649994,133.729996,134.509995,136.500000,3.919998,1.149994,2.770004,3.919998,2.867802,3.596686,2.954794,NaN,NaN
34,2022-12-19,135.110001,135.199997,131.320007,132.369995,134.509995,3.879990,0.690002,3.189988,3.879990,2.871727,3.688901,3.008760,NaN,NaN
35,2022-12-20,131.389999,133.250000,129.889999,132.300003,132.369995,3.360001,0.880005,2.479996,3.360001,2.557273,3.433801,3.017751,NaN,NaN
36,2022-12-21,132.979996,136.809998,132.750000,135.449997,132.300003,4.059998,4.509995,0.449997,4.509995,3.391484,3.355304,3.069523,NaN,NaN
37,2022-12-22,134.350006,134.559998,130.300003,132.229996,135.449997,4.259995,0.889999,5.149994,5.149994,3.833267,3.104310,3.177881,NaN,NaN
38,2022-12-23,130.919998,132.419998,129.639999,131.860001,132.229996,2.779999,0.190002,2.589997,2.779999,2.123433,2.955437,3.150885,NaN,NaN
39,2022-12-27,131.380005,131.410004,128.720001,130.029999,131.860001,2.690003,0.449997,3.140000,3.140000,2.390014,2.859094,3.107440,NaN,NaN
40,2022-12-28,129.669998,131.029999,125.870003,126.040001,130.029999,5.159996,1.000000,4.159996,5.159996,3.979329,3.143505,3.151857,NaN,NaN
41,2022-12-29,127.989998,130.479996,127.730003,129.610001,126.040001,2.749993,4.439995,1.690002,4.439995,3.469017,3.159012,3.036411,NaN,NaN
42,2022-12-30,128.410004,129.949997,127.430000,129.929993,129.610001,2.519997,0.339996,2.180001,2.519997,1.962462,2.784851,3.049519,NaN,NaN
43,2023-01-03,130.279999,130.899994,124.169998,125.070000,129.929993,6.729996,0.970001,5.759995,6.729996,5.165794,3.393323,3.216688,NaN,NaN
44,2023-01-04,126.889999,128.660004,125.080002,126.360001,125.070000,3.580002,3.590004,0.010002,3.590004,2.829225,3.481165,3.183892,NaN,NaN
45,2023-01-05,127.129997,127.769997,124.760002,125.019997,126.360001,3.009995,1.409996,1.599999,3.009995,2.367651,3.158830,3.119368,NaN,NaN
46,2023-01-06,126.010002,130.289993,124.889999,129.619995,125.019997,5.399994,5.269996,0.129998,5.399994,4.285369,3.322100,3.215134,NaN,NaN
47,2023-01-09,130.470001,133.410004,129.889999,130.149994,129.619995,3.520005,3.790009,0.270004,3.790009,2.904889,3.510586,3.269763,NaN,NaN
48,2023-01-10,130.259995,131.259995,128.119995,130.729996,130.149994,3.140000,1.110001,2.029999,3.140000,2.410564,2.959540,3.226246,NaN,NaN
49,2023-01-11,131.250000,133.509995,130.460007,133.490005,130.729996,3.049988,2.779999,0.269989,3.049988,2.323800,2.858455,3.221904,NaN,NaN
50,2023-01-12,133.880005,134.259995,131.440002,133.410004,133.490005,2.819993,0.769990,2.050003,2.819993,2.106359,2.806196,3.135583,NaN,NaN